@import "variables";
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/image";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/other";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/level";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/layout/footer";
@import "masonry";

.navbar.is-white {
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: saturate(1.8) blur(20px);

  &.is-fixed-top {
    border-bottom: 1px solid $dark;
  }
}

.navbar-menu.is-active {
  background-color: transparent;
}

@include mobile {
  .navbar-item.is-active {
    border-right: 1px solid $dark;
    border-left: 1px solid $dark;
    color: $text-strong !important;
  }
}

.footer {
  border-top: 1px solid $grey-lighter;
}

.has-mr-5-desktop {
  @include desktop {
    margin-right: 4rem;
  }
}

.has-mr-6-desktop {
  @include desktop {
    margin-right: 7rem;
  }
}

.has-mt-5-desktop {
  @include desktop {
    margin-top: 3rem;
  }
}

.is-sticky-top-desktop {
  @include desktop {
    height: 100%;
    min-height: 100%;
    position: sticky;
    top: 80px;
  }
}

.is-secondary-link {
  &:focus, &:active, &:hover {
    background-color: transparent !important;
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.project-tile {
  padding: 10px;
  border: 2px solid white;

  &:hover {
    border: 2px solid black;
    cursor: pointer !important;
  }
}

.content.project-description {
  h1 {
    color: $subtitle-color;
    font-size: $subtitle-size;
    font-weight: $subtitle-weight;
    line-height: $subtitle-line-height;
    margin-bottom: 0.9rem;
  }

  h2 {
    margin-top: 0 !important;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.content {
  p {
    font-family: "Roboto", sans-serif;
  }
}

.slim-title {
  font-weight: $subtitle-weight !important;
  line-height: $subtitle-line-height !important;
}
